<h3 class="sub-menu">Disclaimer</h3>

The information provided on {{ site_name }} is for general informational purposes only. The information is not intended to be, and should not be taken as, legal, financial, or other professional advice.

We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is strictly at your own risk.

We assume no responsibility for any errors or omissions in the content of the website. In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.

Through this website you may be able to link to other websites which are not under our control. We have no control over the nature, content, and availability of those sites. The inclusion of any links does not necessarily imply a recommendation or endorse the views expressed within them.

Any views or opinions expressed on {{ site_name }} are solely those of the author and do not necessarily represent those of {{ company_name }}.

This disclaimer is subject to change at any time.